p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'DM Sans', sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
