:root {
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #D41443;
    --third-text-color: #907E82;
    --fourth-text-color: #000000;
    --fifth-text-color: #FFA5BA;
    --primary-title-color: #D41443;
    --secondary-title-color: #FFA5BA;
    --accent-color: #D41342;
    --background-color: #FFB8CA;
    --secondary-background-color: #FFF5F6;
  }