:root {
  --main-font: 'DM Sans', sans-serif;
  --title-font: 'Titan One', cursive;

  --accent-color: #d41443;
  --title-color: #d21443;
  --subtitle-color: #ffa5ba;
  --text-color: #907e82;
  --dark-text-color: #000000;
  --white-text-color: #ffffff;

  --bg-light-pink: #fff5f6;
  --bg-pink: #ffb8ca;
  --bg-light-green: #c2e297;
  --bg-beige: #f0d1a5;
  --bg-reviews: #fafafa;
  --bg-mobmenu:#E17992;
  --menu-border:#E18298;

  --cubic:cubic-bezier(0.4, 0, 0.2, 1);
}
