<section class="section-bg">
  <div class="container">
    <div class="title-box">
      <span class="title-box__subtitle">tradition and love</span>
      <h2 class="title-box__title">how it’s made?</h2>
    </div>

    <div class="content">
      <div class="content__box">
        <p class="content__excerpt--tagline">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="content__excerpt">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
          <br> 
          <br>
          Aliquam erat volutpat. Aenean accumsan.
        
      </div>
      <button class="content__btn" type="button">
        <span class="content__btn-text">Read more</span>
      </button>
      <div class="content__img"><img src="./images/cow.png" alt="cow-with-jag-of-milk" /></div>
    </div>

    <ul class="about-list list">
      <li class="about-list__item--left">
        <span class="about-list__amount">721</span>
        <p class="about-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="about-list__item--center">
        <span class="about-list__amount">16kg</span>
        <p class="about-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="about-list__item--right">
        <span class="about-list__amount">84</span>
        <p class="about-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
