<section class="section section__advantage">
    <h2 style="display: none;"> Advantage </h2>
    <div class="container">
        <ul class="advantage">

            <li class="advantage__item">
                <p class="advantage__title advantage__icon-milk">721</p>
                <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="advantage__item">
                <p class="advantage__title advantage__icon-apples">16kg</p>
                <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="advantage__item">
                <p class="advantage__title advantage__icon-lollipop">84</p>
                <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

        </ul>
    </div>
</section>