<section id="contacts" class="contacts">
  <div class="container contacts__container">
    <h2 class="visually-hidden">Наши контакты</h2>
    <ul class="contacts__list list">
      <li class="contacts__item">
        <div class="timetable-card">
          <div class="timetable-card__item">
            <p class="card__name card__name--brown">cafe</p>
          </div>
          <div class="timetable-card__item">
            <p class="card__location">Chicago</p>
            <p class="card__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="timetable-card__item">
            <div class="card__sked">
              <p class="sked__day">Monday - Friday</p>
              <p class="sked__time">06:00 AM - 10:00 PM</p>
            </div>
            <div class="card__sked">
              <p class="sked__day">Saturday - Sunday</p>
              <p class="sked__time">08:00 AM - 16:00 PM</p>
            </div>
          </div>
          <div class="timetable-card__item">
            <a class="card__tel link" href="tel:+610383766284">+61(0) 383 766 284</a>
            <a class="card__mail link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </div>
        </div>
      </li>
      <li class="contacts__item">
        <div class="timetable-card">
          <div class="timetable-card__item">
            <p class="card__name card__name--green">foodtruck</p>
          </div>
          <div class="timetable-card__item">
            <p class="card__location">Los Angeles</p>
            <p class="card__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="timetable-card__item">
            <div class="card__sked">
              <p class="sked__day">Monday - Friday</p>
              <p class="sked__time">06:00 AM - 10:00 PM</p>
            </div>
            <div class="card__sked">
              <p class="sked__day">Saturday - Sunday</p>
              <p class="sked__time">08:00 AM - 16:00 PM</p>
            </div>
          </div>
          <div class="timetable-card__item">
            <a class="card__tel link" href="tel:+610383766284">+61(0) 383 766 284</a>
            <a class="card__mail link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </div>
        </div>
      </li>
      <li class="contacts__item">
        <div class="timetable-card">
          <div class="timetable-card__item">
            <p class="card__name card__name--brown">cafe</p>
          </div>
          <div class="timetable-card__item">
            <p class="card__location">New York</p>
            <p class="card__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="timetable-card__item">
            <div class="card__sked">
              <p class="sked__day">Monday - Friday</p>
              <p class="sked__time">06:00 AM - 10:00 PM</p>
            </div>
            <div class="card__sked">
              <p class="sked__day">Saturday - Sunday</p>
              <p class="sked__time">08:00 AM - 16:00 PM</p>
            </div>
          </div>
          <div class="timetable-card__item">
            <a class="card__tel link" href="tel:+610383766284">+61(0) 383 766 284</a>
            <a class="card__mail link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </div>
        </div>
      </li>
    </ul>
    <div class="contacts__buttons" >
      <button class="button-pink contacts__button" type="button" data-modal-map-open>
          Our Locations
          <svg class="contacts__icon contacts__icon--light">
            <use href="./images/sprite.svg#icon-keyboard-right"></use>
          </svg>
      </button>
      <a class="button-light contacts__button link"
       href="https://docs.google.com/document/d/116IBW-JZq1vNtFdcCbcTEKWb8i7m40ip4d7K571x-fA/edit?usp=sharing" 
       class="link" target="_blank" rel="noopener noreferrer">
          Franchise
          <svg class="contacts__icon">
            <use href="./images/sprite.svg#icon-keyboard-right"></use>
          </svg>
        </a>
    </div>
    <!--modal map-->
    <div class="backdrop__map is-hidden" data-modal-map>
    <div class="modal-map">
      <button type="button" class="modal-close-btn modal-close-btn--map  " data-modal-map-close>
        <svg class="modal-close-btn__icon  modal-close-btn__icon--map" width="16px" height="16px">
        <use href="./images/sprite.svg#icon-Vector"></use>
        </svg>
    </button>
            <iframe
            class="map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.7794508425036!2d30.536197115696858!3d50.4265806794721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf0e033ecbe9%3A0x57a4dffefec77da0!2z0LHRg9C7LiDQm9C10YHQuCDQo9C60YDQsNC40L3QutC4LCAyNiwg0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1618491472731!5m2!1sru!2sua"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
    </div>
  </div>
  </div>
</section>
