<footer class="footer">
  <div class="container footer-container">
    <div class="footer-left">
      <span class="footer-span">homemade ice cream made</span>
      <p class="footer-title">with passion</p>
    </div>
    <div class="footer-right">
      <ul class="social-list list">
        <li class="social-item">
          <a href="https://github.com/" class="social-link link" target="_blank">
            <svg class="social-icon-footer" width="20" height="20">
              <use href="./images/footer-sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a href="https://web.telegram.org/" class="social-link link" target="_blank">
            <svg class="social-icon-footer" width="20.4" height="15.87">
              <use href="./images/footer-sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a href="https://www.facebook.com/" class="social-link link" target="_blank">
            <svg class="social-icon-footer" width="9.35" height="20.4">
              <use href="./images/footer-sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="contact-tel">
        Feel free to contact
        <a class="link footer-link" href="<!-- tel:+610383766284 -->">+61 (0) 383 766 284</a>
      </p>
    </div>
  </div>
  <div class="copy-container">
    <p class="copy">&copy; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
