<section class="about__gellery">
  <h2 class="visually-hidden">Галерея</h2>
  <div class="container">
    <div class="gallery">
      <picture class="gallery__photo">
        <source
          srcset="./images/about/gallery-desc-wp.webp 1x, ./images/about/gallery-desc-wp@2x.webp 2x"
          type="image/webp"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./images/about/gallery-desc.jpg 1x, ./images/about/gallery-desc@2x.jpg 2x"
          media="(min-width: 1200px)"
        />

        <source
          srcset="./images/about/gallery-tab-wp.webp 1x, ./images/about/gallery-tab-wp@2x.webp 2x"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/about/gallery-tab.jpg 1x, ./images/about/gallery-tab@2x.jpg 2x"
          media="(min-width: 768px)"
        />

        <source
          srcset="./images/about/gallery-mob-wp.webp 1x, ./images/about/gallery-mob-wp@2x.webp 2x"
          type="image/webp"
          media="(min-width: 480px)"
        />
        <source
          srcset="./images/about/gallery-mob.jpg 1x, ./images/about/gallery-mob@2x.jpg 2x"
          media="(min-width: 480px)"
        />
        <img src="./images/about/gallery-tab.jpg" alt="фото галерея" />
      </picture>
    </div>
  </div>
</section>
