<div class="container-menu">
<button class="menu-hidden js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
    <svg width="20" height="12">
        <use href="./images/burger_menu.svg#burger"></use>
    </svg>
</button>
<ul class="menu">
    <li class="menu-item"><a href="" class="link">Home</a></li>
    <li class="menu-item"><a href="" class="link">About us</a></li>
    <li class="menu-item"><a href="" class="link">How it’s made?</a></li>
    <li class="menu-item"><a href="" class="link">Our products</a></li>
    <li class="menu-item"><a href="" class="link">Contact</a></li>
</ul>
<div class="tablet-menu">
    <button type="button" class="btn btn_tablet">
        <span class="btn-item">Buy now</span> <svg width="10" height="10" class="vector">
            <use href="./images/burger_menu.svg#vector"></use>
        </svg>
    </button>
</div>
</div>
<div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-hidden js-close-menu">
        <svg width="14" height="14">
            <use href="./images/burger_menu.svg#close"></use>
        </svg>
    </button>
    <button type="button" class="btn">
         <span class="btn-item">Buy now</span> <svg width="10" height="10" class="vector">
            <use href="./images/burger_menu.svg#vector"></use>
        </svg>
    </button>
    <ul class="mobile-menu">
        <li class="mobile-menu-item"><a href="" class="link">Home</a></li>
        <li class="mobile-menu-item"><a href="" class="link">About us</a></li>
        <li class="mobile-menu-item"><a href="" class="link">How it’s made?</a></li>
        <li class="mobile-menu-item"><a href="" class="link">Our products</a></li>
        <li class="mobile-menu-item"><a href="" class="link">Contact</a></li>
    </ul>
</div>
