<!-- section hero -->
<section class="hero">
    <div class="container hero__container">
        <div class="hero__left-side">
            <h1 class="hero__title">
                <span class="hero__title-accent"> ice cream made with</span>passion</h1>
            <div id="hero__buttons" class="hero__buttons" >
                <a href="#product" class="button-pink hero__button-pink hero__link link"> Products</a>
               <a href="#about" class=" button-light hero__button-light hero__link link">How it’s made?</a>
            </div>
            <div class="hero__wrapper">
                <picture>
                    <source srcset="./images/hero/desktop/milk.webp 1x, ./images/hero/desktop/milk@2x.webp 2x"
                        media="(min-width: 1200px)" type="image/webp">
                    <source srcset="./images/hero/desktop/milk.png 1x, ./images/hero/desktop/milk@2x.png 2x"
                        media="(min-width: 1200px)">
                    <source srcset="./images/hero/tablet/milk.webp 1x, ./images/hero/tablet/milk@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source srcset="./images/hero/tablet/milk.png 1x, ./images/hero/tablet/milk@2x.png 2x"
                        media="(min-width: 768px)">
                    <img class="hero__img hero__img--milk" src="./images/hero/tablet/milk.png" alt="bottle of milk">
                </picture>
                <div class="hero__box">
                    <p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et</p>
                    <button class="button-arrow-right">
                        <svg class="button-arrow-right__svg" width="10px" height="10px">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <picture>
            <!-- <source srcset="./images/hero/desktop/IceCream.webp 1x, ./images/hero/desktop/IceCream@2x.webp 2x"
                        media="(min-width: 1200px)" type="image/webp">
                    <source srcset="./images/hero/desktop/IceCream.png 1x, ./images/hero/desktop/IceCream@2x.png 2x"
                        media="(min-width: 1200px)">
                    <source srcset="./images/hero/tablet/IceCream.webp 1x, ./images/hero/tablet/IceCream@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source srcset="./images/hero/tablet/IceCream.png 1x, ./images/hero/tablet/IceCream@2x.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="./images/hero/mobile/IceCream.webp 1x, ./images/hero/mobile/IceCream@2x.webp 2x"
                        media="(min-width: 480px)" type="image/webp">
                    <source srcset="./images/hero/mobile/IceCream.png 1x, ./images/hero/mobile/IceCream@2x.png 2x"
                        media="(min-width: 480px)"> -->
            <img class="hero__img hero__img--circle" src="./images/hero/mobile/circle.png" alt="IceCream">
        </picture>
        <picture>
            <source srcset="./images/hero/desktop/IceCream.webp 1x, ./images/hero/desktop/IceCream@2x.webp 2x"
                media="(min-width: 1200px)" type="image/webp">
            <source srcset="./images/hero/desktop/IceCream.png 1x, ./images/hero/desktop/IceCream@2x.png 2x" media="(min-width: 1200px)">
            <source srcset="./images/hero/tablet/IceCream.webp 1x, ./images/hero/tablet/IceCream@2x.webp 2x"
                media="(min-width: 768px)" type="image/webp">
            <source srcset="./images/hero/tablet/IceCream.png 1x, ./images/hero/tablet/IceCream@2x.png 2x"
                media="(min-width: 768px)">
            <source srcset="./images/hero/mobile/IceCream.webp 1x, ./images/hero/mobile/IceCream@2x.webp 2x"
                media="(min-width: 320px)" type="image/webp">
            <source srcset="./images/hero/mobile/IceCream.png 1x, ./images/hero/mobile/IceCream@2x.png 2x"
                media="(min-width: 320px)">
            <img  class="hero__img hero__img--icecream" src="./images/hero/mobile/IceCream.png" alt="IceCream">
        </picture>
        <div class="hero__right-side">
            <ul class="hero__list list">
                <li class="hero__item">16
                    <p class="hero__text">cafes</p>
                </li>
                <li class="hero__item">23
                    <p class="hero__text">food trucks</p>
                </li>
            </ul>
            <picture>
                <source srcset="./images/hero/desktop/tasty.webp 1x, ./images/hero/desktop/tasty@2x.webp 2x"
                    media="(min-width: 1200px)" type="image/webp">
                <source srcset="./images/hero/desktop/tasty.png 1x, ./images/hero/desktop/tasty@2x.png 2x"
                    media="(min-width: 1200px)">
                <source srcset="./images/hero/tablet/tasty.webp 1x, ./images/hero/tablet/tasty@2x.webp 2x"
                    media="(min-width: 768px)" type="image/webp">
                <source srcset="./images/hero/tablet/tasty.png 1x, ./images/hero/tablet/tasty@2x.png 2x" media="(min-width: 768px)">
                <img class="hero__img hero__img--girl-drink-milk" src="./images/hero/tablet/tasty.png" alt="girl drink milk">
            </picture>
        </div>
    </div>
</section>