<!--modal-->
<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal-close-btn" data-modal-close>
            <svg class="modal-close-btn__icon" width="16px" height="16px">
            <use href="./images/sprite.svg#icon-Vector"></use>
            </svg>
        </button> 
    
        <form class="modal-form">
            <b class="modal-form__user-data">We know how to manage with your heat</b>
        
            <label for="user-name" class="modal-form__field">Name</label>
        <div class="modal-form__input-wrapper">
            <input id="user-name" type="text" name="user-name" class="modal-form__input" minlength="2" required>
            <svg class="modal-form__icon" width="30px" height="40px">
                <use href="./images/sprite.svg#icon-icecream"></use>
            </svg>
        </div>
        
             <label for="user-tel" class="modal-form__field">Phone number</label>
        <div class="modal-form__input-wrapper">  
            <input id="user-tel" type="tel" name="use-phone"  class="modal-form__input" required 
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="096-111-11-11">
            <svg class="modal-form__icon" width="30px" height="40px">
                <use href="./images/sprite.svg#icon-icecream1"></use>
            </svg>
        </div>
            
            <label for="user-address" class="modal-form__field">Delivery address</label>   
        <div class="modal-form__input-wrapper"> 
            <input id="user-address"  name="use-address" class="modal-form__input" required>
            <svg class="modal-form__icon" width="30px" height="40px">
                <use href="./images/sprite.svg#icon-cake"></use>
            </svg>
        </div>
      
            <button type="submit" class="modal-form__btn button-pink animate__heartBeat">Order</button>
        </form>  
    </div>
</div>
  