<section id="product" class="products">
  <div class="container products__container">
    <p class="subtitle">100% natural</p>
    <h2 class="title">products</h2>
    <div class="products-card">
      <ul class="products-cards__list">
        <li class="products-card__item list">
          <div class="products-card--pink">
            <h3 class="products__title">ice cream</h3>
            <p class="products-card__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <button class="button-arrow-right" type="button">
              <svg class="button-arrow-right__svg" width="15" height="15">
                <use href="./images/sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </li>

        <li class="products-card__item list">
          <div class="products-card--coffee">
            <h3 class="products__title">ice coffee</h3>
            <p class="products-card__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <button class="button-arrow-right" type="button">
              <svg class="button-arrow-right__svg" width="15" height="15">
                <use href="./images/sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </li>

        <li class="products-card__item list">
          <div class="products-card--green">
            <h3 class="products__title">milkshakes</h3>
            <p class="products-card__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <button class="button-arrow-right" type="button">
              <svg class="button-arrow-right__svg" width="15" height="15">
                <use href="./images/sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
