<section class="reviews">
<div class="container container__reviews ">
    <h2 class="visually-hidden">Users reviews</h2>

    <ul class="slaider list">
        
            <li class="slaider__item item__one">
                <img class="slaider__img" src="./images/reviews/reviewer-one.png" alt="Girl with curly hair">
                
                <div class="slaider-wraper__block">
                    <p class="slaider-wraper__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                        sem. In hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                
                
                <p class="slaider-wraper__title">Emily, Los Angeles</p>
            </li>

                         <li class="slaider__item item__two">
        
                             <img class="slaider__img" src="./images/reviews/reviewer-two.png" alt="Girl in glasses">
            
               <div class="slaider-wraper__block">
                       <p class="slaider-wraper__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                     <p class="slaider-wraper__title">Maria, New York</p></li>
       
        
                    <li class="slaider__item item__three">
                    <img class="slaider__img" src="./images/reviews/reviewer-three.png" alt="Black Girl">
                
                <div class="slaider-wraper__block">
                    <p class="slaider-wraper__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                        sem. In hendrerit nulla quam nunc, acc6
                        umsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                
                <p class="slaider-wraper__title">Ivan, Toronto</p>
            </li>
            
        </ul>
    



    <ul class="reviews-icons list">
        <li class="reviews-icons__item"></li>
        <li class="reviews-icons__item"></li>
        <li class="reviews-icons__item"></li>
    </ul>
</div>

</section>