.container {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  
    @media screen and (min-width: 480px) {
      width: 480px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
    }
    @media screen and (min-width: 1080px) {
      width: 1080px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }