.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  padding: 30px 30px;
  background: #c2e297;
  border-radius: 6px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic);
-webkit-box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.26);
-moz-box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.26);
box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.26);
}
.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  transition: transform 250ms var(--cubic);

  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0;

  &:hover .modal-close-btn__icon,
  &:focus .modal-close-btn__icon {
    fill: var(--title-color);
  }
  &__icon {
    fill: var(--white-text-color);
    transition: fill 250ms var(--cubic);
  }
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

  .modal {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

@media screen and (min-width: 468px) {
  .modal {
    left: 50%;
    width: 450px;
  }
}
