.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.about-bg {
  background-image: url(/images/splashes_of_milk.png);
  background-repeat: no-repeat;
  background-position-y: 342px;
  background-color: var(--secondary-background-color);
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.title-box {
  margin-left: auto;
  margin-right: auto;
  padding-top: 125px;
  margin-bottom: 102px;
}

.title-box__subtitle {
  display: block;
  margin-bottom: 15px;

  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--fifth-text-color);
}

.title-box__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-title-color);
}

.content {
  margin-bottom: 146px;
  padding-right: 117px;
  padding-top: 4px;

  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.content__img {
  position: absolute;
  top: -47px;
  left: 0px;
}

.content__excerpt {
  display: flex;
  width: 463px;
  margin-bottom: 45px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.94;
  letter-spacing: 0.04em;
  color: var(--third-text-color);

  &--tagline {
    display: flex;
    width: 463px;
    margin-bottom: 34px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;

    color: var(--fourth-text-color);
  }
}

.content__btn {
  cursor: pointer;
  display: inline-flex;

  margin-right: 287px;
  width: 176px;
  height: 44px;

  border: none;
  background-color: var(--primary-text-color);
  border-radius: 22px;
  align-items: baseline;
}

.content__btn:hover {
  background: #ECEBEB;
}

.content__btn-text {
  width: 100%;
  align-self: center;
  justify-content: center;
  padding: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--primary-title-color);
}

.content__btn-text::after {
  content: '';
  /* align-self: baseline; */
  margin-left: 13.62px;
  width: 8px;
  height: 10px;
  background-image: url(/images/arrow.svg);
}

.about-list {
  display: inline-flex;
  position: relative;
  margin-bottom: 139px;
}

.about-list__item {
  &--left {
    margin-right: 30px;
  }
  &--left::before {
    content: '';
    display: block;
    margin-bottom: 40px;
    width: 33px;
    height: 50px;
    background-image: url(/images/bucket_of_milk.png);
    background-size: cover;
  }
  &--center {
    margin-right: 30px;
  }
  &--center::before {
    content: '';
    display: block;
    margin-bottom: 40px;
    width: 50px;
    height: 50px;
    background-image: url(/images/bucket_of_apples.png);
    background-size: cover;
  }
  &--right::before {
    content: '';
    display: block;
    margin-bottom: 40px;
    width: 44px;
    height: 50px;
    background-image: url(/images/Ice_cream_on_stick.png);
    background-size: cover;
  }
}

.about-list__amount {
  display: block;
  margin-bottom: 15px;

  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 66px;
  text-align: left;
  letter-spacing: 0.04em;
  color: var(--primary-title-color);
}

.about-list__text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.02em;

  color: var(--fourth-text-color);
}
