.hero {
  background-color: var(--bg-pink);
  animation-name: changeBgColor;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  animation-direction: alternate;
  @keyframes changeBgColor {
    0% {
      background-image: linear-gradient(to right, #ffb8ca 0%, #ffb8ca 100%);
    }
    8% {
      background-image: linear-gradient(to right, #fffefd 0%, #ffb8ca 14.29%);
    }
    16% {
      background-image: linear-gradient(to right, #fffefd 0%, #ffec92 14.28%, #ffb8ca 28.57%);
    }
    24% {
      background-image: linear-gradient(
        to right,
        #fffefd 0%,
        #ffec92 14.28%,
        #ffa940 28.57%,
        #ffb8ca 42.85%
      );
    }
    32% {
      background-image: linear-gradient(
        to right,
        #fffefd 0%,
        #ffec92 14.28%,
        #ffa940 28.57%,
        #9ebe94 42.85%,
        #ffb8ca 57.14%
      );
    }
    40% {
      background-image: linear-gradient(
        to right,
        #fffefd 0%,
        #ffec92 14.28%,
        #ffa940 28.57%,
        #9ebe94 42.85%,
        #efa242 57.14%,
        #ffb8ca 71.43%
      );
    }
    48% {
      background-image: linear-gradient(
        to right,
        #fffefd 0%,
        #ffec92 14.28%,
        #ffa940 28.57%,
        #9ebe94 42.85%,
        #efa242 57.14%,
        #ff587c 71.43%,
        #ffb8ca 85.72%
      );
    }
    56% {
      background-image: linear-gradient(
        to right,
        #ffb8ca 0%,
        #ffec92 14.28%,
        #ffa940 28.57%,
        #9ebe94 42.85%,
        #efa242 57.14%,
        #ff587c 71.43%,
        #ffb8ca 85.72%
      );
    }
    64% {
      background-image: linear-gradient(
        to right,
        #ffb8ca 14.28%,
        #ffa940 28.57%,
        #9ebe94 42.85%,
        #efa242 57.14%,
        #ff587c 71.43%,
        #ffb8ca 85.72%
      );
    }
    72% {
      background-image: linear-gradient(
        to right,
        #ffb8ca 28.57%,
        #9ebe94 42.85%,
        #efa242 57.14%,
        #ff587c 71.43%,
        #ffb8ca 85.72%
      );
    }
    80% {
      background-image: linear-gradient(
        to right,
        #ffb8ca 42.85%,
        #efa242 57.14%,
        #ff587c 71.43%,
        #ffb8ca 85.72%
      );
    }
    88% {
      background-image: linear-gradient(to right, #ffb8ca 57.14%, #ff587c 71.43%, #ffb8ca 85.72%);
    }
    100% {
      background-image: linear-gradient(to right, #ffb8ca 0%, #ffb8ca 100%);
    }
  }
}

.hero__container {
  position: relative;
  padding-top: 191px;
  padding-bottom: 160px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.hero__img--circle {
  position: absolute;
  top: 83px;
  left: 36px;
  min-width: 346px;
  height: 344px;
  z-index: 0;
}

.hero__img--icecream {
  position: absolute;
  bottom: 0;
  left: 117px;
  z-index: 0;
}

.hero__img--girl-drink-milk {
  position: absolute;
  bottom: 0;
  right: 4px;
  animation: animate-girl 2000ms infinite 2000ms;
}

@keyframes animate-girl {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.hero__wrapper {
  display: flex;
  align-items: center;
}

.hero__title {
  @include font-Titan-One(
    $fs: 48,
    $lh: 46,
    $fw: 400,
    $ffamily: (
      'Titan One',
      normal,
    )
  );
  text-transform: uppercase;
  color: var(--title-color);
  letter-spacing: 0.04em;
  max-width: 218px;
  height: 106px;
  margin-bottom: 20px;
}

.hero .button-arrow-right {
  height: 18px;
  width: 18px;
  margin: 0;
  padding: 0;
}

.hero__left-side {
  z-index: 1;
}

.hero__title-accent {
  @include font-Titan-One($fs: 26, $lh: 30);
  color: var(--white-text-color);
  display: block;
}

.hero__item {
  position: relative;
  @include font-Titan-One(
    $fs: 28,
    $lh: 32,
    $fw: 400,
    $ffamily: (
      'Titan One',
      normal,
    )
  );
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--title-color);
  text-align: right;
  z-index: 1;

  &:not(last-chiled) {
    margin-bottom: 15px;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    margin: 0 auto;
    top: -2px;
    right: -10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--white-text-color);
    z-index: -1;
  }
}

.hero__buttons {
  display: flex;
  margin: 0;
}
.hero__button-pink {
  margin: 0;
  @include font-DM-Sans($fs: 8, $lh: 10, $fw: 400);
  width: 63px;
  height: 24px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__button-light {
  margin: 0;
  @include font-DM-Sans($fs: 8, $lh: 10, $fw: 400);
  width: 83px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__button-arrow-right {
  width: 10px;
  height: 10px;
}
// @include for-phone-only
@media screen and (max-width: 767px) {
  .hero__container {
    height: 502px;
  }

  .hero__wrapper {
    display: none;
  }

  .hero__right-side {
    display: none;
  }
}

// min-width 768px

@include for-tablet-portrait-up {
  .hero__container {
    padding-top: 102px;
    padding-bottom: 28px;
  }

  .hero__title {
    @include font-Titan-One($fs: 34, $lh: 31);
    max-width: 162px;
    max-height: 80px;
  }

  .hero__title-accent {
    @include font-Titan-One($fs: 22, $lh: 25);
  }
  .hero__buttons {
    margin-bottom: 19px;
  }

  .hero__description {
    @include font-DM-Sans(
      $fs: 8,
      $lh: 12,
      $fw: 500,
      $ffamily: (
        'DM Sans',
        sans-serif,
      )
    );
    width: 114px;
    height: 48px;
    margin-bottom: 7px;
    color: var(--white-text-color);
  }
  .hero__text {
    @include font-DM-Sans(
      $fs: 8,
      $lh: 10,
      $fw: 400,
      $ffamily: (
        'DM Sans',
        sans-serif,
      )
    );
    letter-spacing: 0.04em;
    color: var(--white-text-color);
    text-transform: none;
    text-align: right;
  }

  .hero__img--circle {
    top: 34px;
    left: 300px;
    min-width: 324px;
    height: 322px;
  }

  .hero__img--icecream {
    left: 378px;
  }
}

// min-width 1200px

@include for-desktop-up {
  .hero__container {
    padding-top: 171px;
    padding-bottom: 45px;
  }

  .hero__title {
    @include font-Titan-One($fs: 58, $lh: 52);
    max-width: 277px;
    min-height: 137px;
    margin-bottom: 25px;
  }

  .hero__title-accent {
    @include font-Titan-One($fs: 38, $lh: 44);
  }

  .hero__buttons {
    margin-bottom: 56px;
  }

  .hero__box {
    margin-left: 30px;
  }

  .hero__description {
    @include font-DM-Sans(
      $fs: 14,
      $lh: 20,
      $fw: 400,
      $ffamily: (
        'DM Sans',
        sans-serif,
      )
    );
    width: 200px;
    height: 78px;
    margin-bottom: 20px;
  }

  .hero__item {
    @include font-Titan-One($fs: 46, $lh: 77);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: right;

    &::after {
      right: -15px;
      top: 5px;
      width: 30px;
      height: 30px;
    }
  }
  .hero__text {
    @include font-DM-Sans($fs: 14, $lh: 18, $fw: 400);
  }

  .hero__img--circle {
    top: 52px;
    left: 473px;
    width: 538px;
    height: 538px;
  }

  .hero__img--icecream {
    left: 592px;
  }

  .hero__img--girl-drink-milk {
    right: 65px;
  }

  .hero .button-arrow-right {
    width: 26px;
    height: 26px;
  }

  .hero__button-light {
    @include font-DM-Sans($fs: 14, $lh: 18);
    width: 138px;
    height: 40px;
  }

  .hero__button-pink {
    @include font-DM-Sans($fs: 14, $lh: 18);
    width: 102px;
    height: 40px;
    margin-right: 15px;
  }
}
