.products__container {
  padding-top: 121px;
  padding-bottom: 98px;

  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
  .subtitle {
    display: block;
    align-items: center;
    margin-bottom: 15px;
  }
  .title {
    margin-bottom: 114px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 200px;
    }
  }
  .button-arrow-right {
    margin-bottom: 40px;
    margin: auto;
  }
}
.products-card {
  @include flex-center;
}
.products-cards__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
    margin-right: -10px;
    margin-left: -10px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: -12px;
    margin-left: -12px;
    margin-bottom: -12px;
  }
}

.products-card__item {
  padding-top: 30px;

  @media screen and (min-width: 768px) {
    margin: 10px;
    flex-basis: calc((100% - 3 * 10px) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 12px) / 3);
  }
}

.products-card__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 120px;
  }
}

.products__title {
  position: relative;
  @include font-Titan-One(20, 23);
  color: var(--white-text-color);
  text-align: center;
  @media screen and (min-width: 1200px) {
    @include font-Titan-One(30, 34.4);
  }
  &::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 6px;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../images/products/mobile/circl/Group5.png');
    background-repeat: no-repeat;
    @media screen and (min-width: 1200px) {
      top: 150%;
    }
  }
}
.products-card--pink {
  padding-top: 161px;
  background: var(--bg-pink);
  border-radius: 24px;
  width: 280px;
  height: 485px;

  .products__title {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      display: block;
      margin: 0 auto;
      width: 249px;
      height: 252px;
      background-size: cover;
      background-image: url('../images/products/mobile/cream/pic1.png');
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/products/mobile/cream/pic1x2.png');
      }
      background-repeat: no-repeat;
      transform: translate(8%, -110%);
      @media screen and (min-width: 768px) {
        background-image: url('../images/products/tabl/cream/pic1.png');
        width: 220px;
        height: 226px;
        background-size: cover;
        transform: translate(1%, -115%);
        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url('../images/products/tabl/cream/pic1x2.png');
        }
      }
      @media screen and (min-width: 1200px) {
        background-image: url('../images/products/desk/cream/pic1.png');
        width: 335px;
        height: 335px;
        background-size: cover;
        transform: translate(1%, -105%);
        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url('../images/products/desk/cream/pic1x2.png');
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: 152px;
    width: 220px;
    height: 485px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 163px;
    width: 330px;
    height: 525px;
  }
}
.products-card--coffee {
  padding-top: 161px;
  background: var(--bg-beige);
  border-radius: 24px;
  width: 280px;
  height: 485px;

  .products__title {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      display: block;
      margin: 0 auto;
      width: 249px;
      height: 252px;
      background-size: cover;
      background-image: url('../images/products/mobile/cofee/pic1.png');
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/products/mobile/cofee/pic1x2.png');
      }
      background-repeat: no-repeat;
      transform: translate(8%, -110%);
      @media screen and (min-width: 768px) {
        background-image: url('../images/products/tabl/cofee/pic1.png');
        width: 220px;
        height: 233px;
        background-size: cover;
        transform: translate(1%, -115%);
        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url('../images/products/tabl/cofee/pic1x2.png');
        }
      }
      @media screen and (min-width: 1200px) {
        width: 337px;
        height: 335px;
        background-size: cover;
        background-image: url('../images/products/desk/cofee/pic1.png');
        transform: translate(1%, -105%);
        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url('../images/products/desk/cofee/pic1x2.png');
        }
      }
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 152px;
    width: 220px;
    height: 485px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 163px;
    width: 330px;
    height: 525px;
  }
}
.products-card--green {
  padding-top: 161px;
  background: var(--bg-light-green);
  border-radius: 24px;
  width: 280px;
  height: 485px;

  .products__title {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      display: block;
      margin: 0 auto;
      width: 249px;
      height: 252px;
      background-size: cover;
      background-image: url('../images/products/mobile/mshake/pic1.png');
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/products/mobile/mshake/pic1x2.png');
      }
      background-repeat: no-repeat;
      transform: translate(8%, -110%);
      @media screen and (min-width: 768px) {
        background-image: url('../images/products/tabl/mshake/pic1.png');
        width: 220px;
        height: 224px;
        background-size: cover;
        transform: translate(1%, -115%);
        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url('../images/products/tabl/mshake/pic1x2.png');
        }
      }
      @media screen and (min-width: 1200px) {
        width: 335px;
        height: 335px;
        background-size: cover;
        background-image: url('../images/products/desk/mshake/pic1.png');
        transform: translate(1%, -105%);
        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url('../images/products/desk/mshake/pic1x2.png');
        }
      }
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 152px;
    width: 220px;
    height: 485px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 163px;
    width: 330px;
    height: 525px;
  }
}
.products-card__text {
  color: var(--white-text-color);
  letter-spacing: 0.04em;
  text-align: center;
  @include font-DM-Sans(14, 21.3, 700);
  margin: 66px 40px 30px;
  @media screen and (min-width: 768px) {
    @include font-DM-Sans(14, 25, 700);
    margin-right: 11px;
    margin-left: 11px;
  }
  @media screen and (min-width: 1200px) {
    @include font-DM-Sans(16, 28, 700);
    margin: 32px 44px 62px;
  }
}
